

*, *:after, *:before {
  box-sizing: border-box;
}

html, body {
  font-family: 'League Spartan', Arial, sans-serif;
  font-size: 22px;
  line-height: 1.45;
}

body, h1, h2 {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 80px;
  margin-bottom: 4rem;
  color: #025275;
  /*text-shadow: 3px 1px 0px #025275;*/
}
h2 {
  font-size: 40px;
  margin-bottom: 2rem;
  color: #025275;
  /*text-shadow: 3px 1px 0px #025275;*/
}

p,
.ui {
  font-size: 22px;
  margin-bottom: 2rem;
  color: #025275;
}


.screen {
  width: 100vw;
  height: 100vh;
  padding: 5em 2em;
  background-color: #ed5f87;
  text-align: center;
  display: none;
}
.screen.is-active {
  display: block;
}

.songlist {
  list-style: none;
  padding: 0;
  margin: 2em 0 0;
  width: 30vw;
  margin: auto;
}
.songlist li {
  cursor: pointer;
  margin-bottom: 1em;
  padding: 0.5em 0.5em 0.3em;
  line-height: 1;
  border: 2px solid transparent;
  color: #025275;
  border-radius: 8px;
}
.songlist li:hover {
  background-color: #5091bb;
}
.songlist li.is-active {
  padding: 0.5em 0.5em 0.3em;
  border: 2px solid #5091bb;
  border-radius: 8px;
}

.is-hidden {
  display: none;
}

.indicator {
  width: 2rem;
  height: 2rem;
  display: block;
  margin: auto;
  border: 5px solid yellow;
  border-radius: 50%;
  position: relative;
  background: #ed5f87;
  transform: translate(1rem);
}

.indicator:before {
  position: absolute;
  top: -0.75rem;
  left: -0.75rem;
  content: "";
  display: block;
  width: 3rem;
  height: 3rem;
  display: block;
  border: 3px solid #fff400;
  border-radius: 50%;
  animation: spinningY 2s infinite ease;
}
.indicator:after {
  position: absolute;
  top: -0.75rem;
  left: -0.75rem;
  content: "";
  display: block;
  width: 3rem;
  height: 3rem;
  display: block;
  border: 3px solid #fff400;
  border-radius: 50%;
  animation: spinningX 3s infinite ease 500ms;
}

@keyframes spinningY {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
@keyframes spinningX {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}

button {
  font-family: 'League Spartan', Arial, sans-serif;
  background: none;
  padding: 0.5em 0.5em 0.3em;
  border: 2px solid #fff400;
  line-height: 1;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: inherit;
  color: #fff400;
  cursor: pointer;

  transition: all 90ms linear;
}
button:hover {
  background-color: #fff400;
  color: #ed5f87;
  border-color: #fff400;
  box-shadow: 3px 2px #fff400;
  
}


.popup {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 2em;
  height: 300px;
  width: 40vw;
  margin: auto;
  background-color: #4f9dba;
  border-radius: 8px;
}

.popup h2 {
 color: #025275;
 text-shadow: 3px 1px 0px #5091bb;
}

.popup button {

}

canvas {
  display: block;
  margin: auto;
}
